{% extends 'base.html' %}

{% block content %}

<table class="table table-bordered">
    <tr>
        <th>Product</th>
        <th>Amount</th>
        <th>Price</th>
    </tr>
    {% for product in cart.products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>
                {{ product.count }}
            </td>
            <td>&euro; <span>{{ product.total }}</span></td>
        </tr>
    {% endfor %}
    <tr>
        <th>Total</th>
        <th></th>
        <th>&euro; <span id="cartTotalPrice">{{ cart.total }}</span></th>
    </tr>
</table>

<form method="post" >
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Confirm</button>
</form>

{% endblock %}
